@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: DanaFaNum;
    direction: rtl;
}

.error{
    color: red;
    font-size: 14px;
}

.pagination {
    list-style-type: none;
}

.pagination-item {
    display: inline-block;
}

@font-face {
    font-family: DanaFaNum;
    src: url(../../public/assets/fonts/DanaFaNum-Medium.woff);
}